<!DOCTYPE html>
<html lang="en">
<head>
  <title>Salesforce Integration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <link rel="stylesheet" href="../static/app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script src="../static/main.js"></script>
</head>
<body>
  <div class="container-fluid">
    <h3 class="text-center mt-3 mb-5">Salesforce Integration</h3>
    <div class="center">
      <div class="row my-3">
        <div class="dropdown col-md-1 mx-3">
          <button type="button" class="btn btn-outline-secondary btn-block rounded-pill dropdown-toggle" data-toggle="dropdown" id="sel_upload_data_type_btn">Account</button>
          <div class="dropdown-menu">
            <a class='dropdown-item' href='#' onclick='sel_upload_data_type("Account")'>Account</a>
            <a class='dropdown-item' href='#' onclick='sel_upload_data_type("Contact")'>Contact</a>
            <a class='dropdown-item' href='#' onclick='sel_upload_data_type("Lead")'>Lead</a>
            <a class='dropdown-item' href='#' onclick='sel_upload_data_type("Opportunity")'>Opportunity</a>
            <a class='dropdown-item' href='#' onclick='sel_upload_data_type("Order")'>Order</a>
            <a class='dropdown-item' href='#' onclick='sel_upload_data_type("Quote")'>Quote</a>
          </div>
        </div>
        <input type="date" class="form-control form-control col-md-1 mx-3" id="date1">
        <input type="date" class="form-control form-control col-md-1 mx-3" id="date2">
        <button type="button" class="btn btn-outline-secondary col-md-1 mx-3 rounded-pill hide" onclick="upload()" id="upload_btn"><span class="spinner-border spinner-border-sm hide"></span> Upload</button>
        <button type="button" class="btn btn-outline-secondary col-md-1 mx-3 rounded-pill" onclick="view()" id="view_button"><span class="spinner-border spinner-border-sm hide"></span> View</button>
        <button type="button" class="btn btn-outline-secondary col-md-1 mx-3 rounded-pill hide" onclick="back()" id="view_dlg_button">View...</button>
        <button type="button" class="btn btn-outline-secondary col-md-1 mx-3 rounded-pill" onclick="createDlg()" id="upload_dlg_button">Create...</button>
        <button type="button" class="btn btn-outline-secondary col-md-1 mx-3 rounded-pill" onclick="uploadDlg()" id="upload_dlg_button">Upload...</button>
      </div>
      <div class="row" id="query-div">
        <div class="col-sm-12 center">
          <table class="table table-striped table-bordered table-hover hide">
            <thead class="thead-dark">
              <tr>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr><td colspan=5 style='height: 20vh;'></td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row hide" id="result-div">
        <div class="col-sm-12 center">
          <textarea class="" id="result" rows="23" style="width: 100%;" placeholder="&#10;&#10;&#10;&#10;&#10;&#10;&#10;&#10;&#10;Input CSV Data to upload here."></textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="createModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create a custom object</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" placeholder="Enter object name" id="name">
          </div>
          <div class="form-group">
            <label>Fields:</label>
            <div class="input-group mb-3 field-div last-field">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" title="Field type">
                  Text
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Text')">Text</a>
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Lookup')">Lookup</a>
                </div>
              </div>
              <div class="input-group-prepend" style="display: none;">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" title="Field type">
                  Account
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Account')">Account</a>
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Contact')">Contact</a>
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Lead')">Lead</a>
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Opportunity')">Opportunity</a>
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Order')">Order</a>
                  <a class="dropdown-item" href="#" onclick="select_pparent_label(this, 'Quote')">Quote</a>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Enter field name" onfocus="onchange_field_name(this)">
              <div class="input-group-append">
                <button type="button" class="btn btn-secondary" onclick="remove_field_div(this)">&times;</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="createObj()">Create</button>
        </div>

      </div>
    </div>
  </div>
</body>
</html>